<!DOCTYPE html>
<html>
<head>
	<title>PacMan</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
</head>
<body>
	<button onclick="startGame()">Start Game</button>
  <canvas id="board"></canvas>
  	<script src="{% static 'scripts/input/input.js' %}"></script>
	<script src="{% static 'scripts/input/renderer.js' %}"></script>
    <script src="{% static 'scripts/graphics.js' %}"></script>
	<script src="{% static 'scripts/animation.js' %}"></script>
	<script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>
